//?COLORES
$primary: #e99401;
$negro: #262626;
$blanco: #FFF;

//? FUENTES
$fuente-principal: 'Outfit', sans-serif;

//? MEDIA QUERIES
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1200px;